/*
Theme Name: Sport
Description: Sporting Club & Centre Theme
Theme URI: http://themeforest.net/
Author: Kenny Williams
Author URI: http://make-lemonade.co  // http://hirekenny.com.au
Version: 1.0
*/


/* ==========================================================================
   TABLE OF CONTENTS
   
   01. Typography
   02. Theme Base Settings
   03. Pre Header Area Variations
   04. Header Area Variations
   05. Post Header Area Variations
   06. Header Base Styles
   07. Specific header Variation Styles
   08. Navigation
   09. Block Elements
   10. Post Styles
   11. Tables
   12. Time Table Styles 	
   13. Event Table Styles
   14. Event Page Styles
   15. Timeline Styles
   16. Parallax Block
   17. Star Ratings
   18. Pricing
   19. Team Page
   20. List Elements
   21. Widget Lists
   22. Countdown Styles
   23. Events Widget List
   24. Open Hours
   25. Social Block Styles
   26. Breadcrumbs
   27. Paging and Comments
   28. Sitemap
   29. Footer
   30. Baseline
   31. Header Social links
   32. Tag Cloud
   33. Tabs
   34. Ratings + Reviews + Titles
   35. Toggles
   36. Forms + Buttons
   37. Message Boxes
   38. Galleries
   39. Columns
   40. Isotope styles
   41. Author's custom styles
   42. Facebook Widget
   43. Helper classes
   44. Print styles
   45. WP Specific
   
   ========================================================================== */







/* ==========================================================================
   01. Typography
   ========================================================================== */
   
html {
    font-size: 1em;
    line-height: 1.5;
    padding: 0 1em 2em;
}
body {
    font-size: inherit !important;
}
h1, h2, h3{
	line-height: 100%;
}

h1, h2, h3, h4, h5, h6{
	margin-top: 15px;
	margin-bottom: 15px;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a{
	text-decoration: none;
}

h1, h2, h3{
	margin-top: 25px;
}

h1{
	font-size: 34px;
}

.post-container h1{
	font-size: 32px;
}

h2{
	font-size: 28px;	
}

h3{
	font-size: 24px;
}

h4{
	font-size: 20px;
}

h5{
	font-size: 18px;
}

h6{
	font-size: 16px;
}

h6.meta, .meta h6, .reply{
	font-size: 11px;
}

blockquote cite{
	font-style: normal;
	text-decoration: none;
	font-size: 18px;
}

.read-more, .reply{
	text-decoration: none;
}

.read-more:before, ul.sitemap li li a:before,
a.toggle-btn:before,  a.accordion-btn:before{
	content: "";
	font-size: 12px;
	padding-right: 3px;
	padding-left: 5px;
	position: relative;
	top: -1px;
}

:focus {
	outline: 0;
}

del {
	text-decoration: line-through;
}

.lead{
	font-size: 125%;
	line-height: 1.25;
}   

aside a{
	text-decoration: none;
}

.highlight:before, .highlight:after {
	content: "'";
}

.highlight:before, .highlight:after{
	padding-left: 2px;
	padding-right: 2px;
}

.text-seperator-bar, .text-seperator-line{
	display: block;
	padding: 0em;
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box; 
	box-sizing: border-box;
	margin-top: 3em;
	margin-bottom: 3em;
}

.text-seperator-bar h5, .text-seperator-line h5, .text-seperator-bar .btn{
	margin: 0;
	padding: 0;
	display: inline-block;
	padding: .5em;
}

.text-seperator-bar .btn{
	float: right;
	color: #fff;
	text-decoration: none;
	padding-left: .75em;
}

 .text-seperator-line{
 	padding: 0;
 	position: relative;
 }
 
.text-seperator-line h5{
  	position: absolute;
  	top: 0;
  	padding-right: 1em;
  	padding-top: 0;
	padding-left: 0;
  }

.text-seperator-line div{
 	width: 100%;
 	height: 1px;
 	padding-top: 7px;
 	border-bottom-style: solid;
 	border-bottom-width: 1px; 	
}

hr{
	clear: both;
	border: none;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	margin: 1.75em 0;
}

blockquote{
	margin: 1em 0;
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box; 
	box-sizing: border-box;
	font-size: 22px;
}

blockquote.right{
	padding-left: 1em;
	border-left-style: solid;
	border-left-width: 2px;
}

blockquote.left{
	padding-right: 1em;
	border-right-style: solid;
	border-right-width: 2px;
}

.boxy blockquote{
	font-size: 30px;
	margin: 0;
	line-height: 1.2;
}




   
   
   


/* ==========================================================================
   02. Theme Base Settings
   ========================================================================== */
  

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

audio, canvas, img, video {
    vertical-align: middle;
}

a:active, a:hover {
  outline: 0;
}

.body-wrapper{
	padding-bottom: 2em;
	padding-top: 1em;	
}

.ad-pad.wrapper{
	padding-top: 2em;
	padding-bottom: 3em;	
}

.ad-padx2.wrapper{
	padding-top: 3em;
	padding-bottom: 5em;
}

img{
	max-width: 100%;
	height: auto;
	vertical-align: middle; 
	border: none; 
}

.left img, .right img{
	width: 100%;
}

a{
	-webkit-transition: all 150ms ease-in-out;
	-moz-transition: all 150ms ease-in-out;
	-ms-transition: all 150ms ease-in-out;
	-o-transition: all 150ms ease-in-out;
	transition: all 150ms ease-in-out;
	cursor: pointer;
}

.widget{
	margin-bottom: 1em;
}

.feature-image{
	margin-bottom: 2em;
}

.corner{
	position: absolute;
	bottom: 0px;
	left: 0px;
	background-color: #222222;
	background-color: rgba(0, 0, 0, .5);
	font-size: 10px;
	padding: .4em .75em;
	-webkit-border-radius: 0 3px 0 0;
	border-radius: 0 3px 0 0;
	z-index: 99;
}

.corner.date:before{
	content: "";
	font-size: 10px;
	padding-right: 4px;
}

.corner, .date{
	font-size: 11px;
}

.date:before{
	content: "";
	padding-right: 4px;
}

.divider{
	height: 20px;	
}








/* ==========================================================================
   03. Pre Header Area Variations
   ========================================================================== */

.pre-header-area, .pre-header-area a {
	text-decoration: none;	
	font-size: 14px;
	line-height: 200%;
}  

.pre-header-area .wrapper{
	padding-top: 0;
	padding-bottom: 0;
} 

.pre-header-area .wrapper ul{
	margin-bottom: 0;
	margin-top: 0;
	margin-left: 0;
	padding-left: 0;
}

.pre-header-area .wrapper ul li{
	list-style-type: none;
	display: inline-block;
	margin-right: .75em;
}

.pre-header-area ul#nav li li{
	padding-top: .5em;
	padding-bottom: .5em;
}  




 
 
 
 
 
 
 /* ==========================================================================
    04. Header Area Variations
    ========================================================================== */ 

.header-area a{
	text-decoration: none;
}

.header-area .wrapper{
	padding-top: 0;
	padding-bottom: 0;
}

.header-area ul{
	margin-top: 0;
	padding-left: 0;
	margin-bottom: 0;	
}   

.header-area ul > li{
	list-style-type: none;
	display: inline-block;
	margin-right: 1em;
}

.header-area .wrapper ul li:last-child{
	margin-right: 0;
}

.header-area .wrapper #navigation ul li:last-child a{
	padding-right: 0;	
}

.header-area .wrapper ul#nav > li{
	padding-top: 1em;
	padding-bottom: 1em;
} 

.header-area .wrapper ul#nav > li > a{
	display: inline-block;
padding: .25em 1em;
}

.header-area ul#nav li li{
	padding-top: .5em;
	padding-bottom: .5em;
} 


 
 
 
 
 
 
 
 
 
 
 
/* ==========================================================================
    05. Post Header Area Variations
    ========================================================================== */ 

.post-header-area a{
	text-decoration: none;	
}   

.post-header-area .wrapper{
	padding-top: 0;
	padding-bottom: 0;
}
 
.post-header-area  ul#nav > li{
	padding-top: 1em;
	padding-bottom: 1em;
} 
  
.post-header-area ul#nav > li > a{
	display: inline-block;
	padding: .25em 1em;
}

.post-header-area ul#nav li li{
	padding-top: .5em;
	padding-bottom: .5em;
} 

 	
 
 
 
 
 
 
 
 
   

/* ==========================================================================
   06. Header Base Styles
   ========================================================================== */  
 
.logo img{
	max-width: 100%;
}

#navigation .nav > ul, .nav-container ul{
	padding: 0;
	margin: 0;	
}

#navigation .nav > ul > li.right{
	float: right;
}

.logo.logo-text a{
	text-decoration: none;
}

.sticky_placeholder, .sticky_placeholder .outter-wrapper{
	width: 100%;
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box; 
	box-sizing: border-box;
}

.boxed-page .sticky-header-wrapper{
	position: relative;
	margin: 0 auto;
	-webkit-box-sizing: border-box	; 
	-moz-box-sizing: border-box; 
	box-sizing: border-box;
}

.sticky-header-wrapper{
	z-index: 1001;
	position: relative;
}

ul.header_toolbar{
	list-style-type: none;
}

ul.header_toolbar li{
	cursor: pointer;
}











/* ==========================================================================
   07. Specific header Variation Styles
   
   001. Header 1
   002. Header 2
   003. Header 3
   004. Header 4
   005. Header 5
   
   ========================================================================== */  


/* 
001. HEADER 1 ________________________________________________________________ */
.header-style-1 .logo{
	max-width: 151px;
	display: inline-block;
}

.header-style-1 .main-header-left{
	padding-top: 1em;
	padding-bottom: .75em;
}

.header-style-1 .main-header-right{
	padding-top: .75em;
	padding-bottom: .75em;
}






/* 
002. HEADER 2 ________________________________________________________________ */
.header-style-2 .logo, .sidr-class-logo{
	max-width: 151px;
	display: inline-block;
}

.header-style-2 .post-header-left{
	padding-top: 1em;
	padding-bottom: .75em;
}

.header-style-2 .post-header-right{
	padding-top: .75em;
	padding-bottom: .75em;
}






/* 
003. HEADER 3 ________________________________________________________________ */
.header-style-3 .logo{
	display: block;
	text-align: center;
	max-width: 200px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 1em;
	padding-bottom: 1em;
}







/* 
004. HEADER 4 ________________________________________________________________ */
.header-style-4 .logo, .sidr-class-logo{
	max-width: 151px;
	display: inline-block;
}

.header-style-4 .main-header-left{
	padding-top: 1.1em;
	padding-bottom: .75em;
}

.header-style-4 .main-header-right{
	padding-top: .75em;
	padding-bottom: .75em;
}






/* 
005. HEADER 5 ________________________________________________________________ */
.header-style-5 .logo, .sidr-class-logo{
	max-width: 151px;
	display: inline-block;
} 

.header-style-5 .main-header-left{
	padding-top: 1.1em;
	padding-bottom: .75em;
}

.header-style-5 .main-header-right{
	padding-top: .75em;
	padding-bottom: .75em;
}

.header-style-5 .post-header-left{
	padding-top: .5em;
	padding-bottom: .5em;
}

.header-style-5 .post-header-right{
	padding-top: .5em;
	padding-bottom: .5em;
}




   
  




/* ==========================================================================
   08. Navigation
   ========================================================================== */

#mobile-header {
    display: none;
    width: 100%;
    text-align: center;
}

.menuHideBtn{
	display: none!important;
}

#sidr-id-closebtn{
	text-align: right;
	font-size: 24px;
}

#responsive-menu-button{
	font-size: 20px;
	text-decoration: none;	
	line-height: 40px;
}

#responsive-menu-button em{
	font-size: 24px;
	padding-right: 5px;
}

#responsive-menu-button img{
	max-width: 100%;
	width: 100%;
}

#nav a{
	white-space: nowrap;
}

#nav ul{
	position: absolute;
	display: none;
	z-index: 10000;
	margin-top: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-left: 0;
	-webkit-border-radius: 0 0 2px 2px;
	border-radius: 0 0 2px 2px;
}

ul#nav > li{
	float: left;
	padding-left: 0;	
}

#nav ul li, 
#navigation nav ul ul li {
	float: none;
	margin: 0;
	padding: 0.4em 0.4em 0.4em 0;
	position: relative;
	text-align: left;
	display: block;
	line-height: 1;
}

#navigation ul li a,
#navigation ul li li a{
	padding: .2em .9em;
}

#nav li:hover > ul, #nav li.nav-parent.hover ul, 
nav ul li:hover > ul{
	display: block; 
}

#nav li:hover ul ul,
nav ul li:hover ul ul{
	display: none!important;
	position: absolute;
	left: 100%;
	top: 0;
}

.pre-header-area ul > li > ul > li ul:before,
.header-area ul > li > ul > li ul:before,
.post-header-area ul > li > ul > li ul:before{
	border-style: solid;
	border-width: 7px;
	content:"";
	display: block;
	position: absolute;
	left:-14px;
	top:12px; /* you can adjust */
}

#nav ul li:hover ul,
nav ul ul li:hover ul {
	display: block!important;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}

.outter-wrapper #nav > li > ul{
	padding-top: .5em;
}
.outter-wrapper #nav ul li:last-child{
	padding-bottom: .75em;
}


/* Centere Menu Option */
#nav.centered-menu{
	text-align: center;
}

#nav.centered-menu > li{
	float: none!important;
	display: inline-block;
}

nav li.fa:before{
	display: inline-block;
	color: #ff6666;	
	position: relative;
	left: 7px;
}

nav li.fa a{
	padding-left: 12px!important;
}












/* ==========================================================================
   09. Block Elements
   ========================================================================== */
iframe, video{
	 border: none;
}

iframe{
	margin: 0;
	width: 100%;
}

.fluid-width-video-wrapper, video, audio, .mejs-container{
	margin-bottom: 1em;
}

pre{
	font-family: Consolas,Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,serif;
	margin-bottom:10px;
	overflow:auto;
	width:auto;
	padding: 0 1em;
	background-color:transparent;
	background: transparent;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iI2VmZWZlZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(top,  transparent 0%, transparent 51%, #efefef 51%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,transparent), color-stop(51%,transparent), color-stop(51%,#f5f5f5));
	background: -webkit-linear-gradient(top,  transparent 0%,transparent 51%,#f5f5f5 51%);
	background: -o-linear-gradient(top,  transparent 0%,transparent 51%,#f5f5f5 51%);
	background: -ms-linear-gradient(top,  transparent 0%,transparent 51%,#f5f5f5 51%);
	background: linear-gradient(to bottom,  transparent 0%,transparent 51%,#f5f5f5 51%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='transparent', endColorstr='#f5f5f5',GradientType=0 );
	background-size: 100% 68px;
	line-height: 34px;
	border-style: solid;
	border-width: 1px;
}

.ads{
	text-align: center;
	display: block;
}

.full-ad-block{
	margin-top: 3em;
	margin-bottom: 3em;
}

.page-heading{
	border-style: solid;
	border-width: 1px;
	border-left: none;
	border-right: none;
	display: block;
	padding: .75em 0;
	margin-bottom: 3.5em;
}

.page-heading .fa{
	font-size: 14px;
	padding-right: 5px;
}

.page-heading a{
	text-decoration: none;
}

.last-block{
	margin-bottom: 0;
}
   
.box-content{
	padding: 1em;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.full-feature img{
	width: 100%;
}   






/* ==========================================================================
   10. Post Styles
   ========================================================================== */

.readmore-container{
	margin-top: 1.5em;
}

.post-container{
	border-bottom-style: solid;
	border-bottom-width: 1px;
	margin-bottom: 2.5em;
	padding-bottom: 2.5em;
}

.post-container .title *{
	margin-top: 0;
}

.timeline .post-container .title *{
	margin-top: .75em;
}

.post-container .boxy{
	padding: 3em;
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box; 
	box-sizing: border-box;
}

.post{
	margin-bottom: 2em;	
}

.post .title, .post-title .title{
	margin-top: 0;
}

a.post-title{
	text-decoration: none;
}

.post h6.meta, h6.meta, .meta h6{
	margin-bottom: .5em;	
}

.post h6.meta a{
	text-decoration: none;
}

.boxy.author{
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box; 
	box-sizing: border-box;
	margin-bottom: 2em;
	padding: .25em 2em 1em;
}

.post-author.boxy.author{
	margin-bottom: 4em;
}

ul.meta{
	margin: 0!important;
	padding: 0!important;	
}

ul.meta a, .readmore{
	padding-top: 0em;
	padding-bottom: .5em;
}

ul.meta li{
	display: inline-block;
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 0!important;
	padding-right: 1em;	
}

ul.meta li:last-child{
	padding-right: 0;
}

.readmore:before, ul.comments li .more:before{
	content: "";
	padding-right: .5em;
}

.meta a:before{
	padding-right: .5em;
}

.meta .user:before{
	content: "";
}

.post-excerpt{
	border-bottom-style: solid;
	border-bottom-width: 1px;
	margin-bottom: 2.5em;
	padding-bottom: 2.5em;
}

.post-excerpt h3{
	margin-top: 0;
}

.post-excerpt blockquote{
	padding: 2.5em;
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box; 
	box-sizing: border-box;
}

.ad-pad.wrapper.blog-roll{
	padding-top: 3em;	
}

.blog-roll aside .widget:first-child h3{
	margin-top: 0;
}

aside .widget{
	border-bottom-style: solid;
	border-bottom-width: 1px;
	margin-bottom: 1.5em;
	padding-bottom: 1.5em;
}

aside .widget:last-child{
	border: none;
}

.widget li a{
	text-decoration: none;
}





/* ==========================================================================
   11. Tables
   ========================================================================== */

table {
	border-collapse: collapse;
	border-spacing: 0;
}

.table-style-1{
	border-style: solid;
	border-width: 1px;	
	text-align: left;
	width: 100%;
	margin-bottom: 1em;
}

.table-style-1 th{
	padding: .5em;
	border-style: solid;
	border-width: 1px;	
	vertical-align: top;	
}

.table-style-1 td{
	padding: .5em;
	border-style: solid;
	border-width: 1px;	
	vertical-align: top;	
}

.table-style-2{
	border-top-style: solid;
	border-top-width: 1px;	
	text-align: left;
	width: 100%;
	margin-bottom: 1em;
}

.table-style-2 th{
	padding: .5em;
	border-bottom-style: solid;
	border-bottom-width: 1px;	
	vertical-align: top;	
}

.table-style-2 td{
	padding: .5em;
	border-bottom-style: solid;
	border-bottom-width: 1px;	
	vertical-align: top;	
}

.table-style-2 td:empty, .table-style-1 td:empty{ }










/* ==========================================================================
   12. Time Table Styles
   ========================================================================== */
   
.time-table{	
	text-align: left;
	width: 100%;
	margin-bottom: 2em;
	margin-top:  2em;
}

.time-table th{
	padding: .5em;
	border-bottom-style: solid;
	border-bottom-width: 1px;	
	vertical-align: top;
	text-align: center;
	padding-bottom: 1.25em;
	padding-top: 1.25em;
	border-top-style: solid;
	border-top-width: 1px;	
}

.time-table th{
	border-top-style: solid;
	border-top-width: 1px;	
}

.time-table th:last-child{
	border-right: none;
}

.time-table td{
	padding: .5em;
	border-bottom-style: solid;
	border-bottom-width: 1px;	
	vertical-align: top;
	text-align: center;	
	width: 12.5%;
	font-size: 90%;	
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box; 
	box-sizing: border-box;
}

.time-table tr:nth-child(n+1):nth-child(even) td{ }

.time-table tr td:first-child, .time-table tr th:first-child{
	text-align: left;
	border-bottom: none;
	background: none;
}

.active-time{
	border: none!important;
}

.time-table a{
	text-decoration: none;
}









/* ==========================================================================
   13. Event Table Styles
   ========================================================================== */
   
.event-table{	
	text-align: left;
	width: 100%;
	margin-bottom: 2em;
	margin-top:  0em;
}  

.event-table th{
	padding: .5em;
	border-bottom-style: solid;
	border-bottom-width: 1px;	
	vertical-align: top;
	text-align: center;
	padding-bottom: 1.25em;
	padding-top: 1.25em;
	border-top-style: solid;
	border-top-width: 1px;	
}  

.event-table td{
	padding: .5em;
	border-style: solid;
	border-width: 1px;	
	vertical-align: top;
	text-align: center;	
	width: 14.25%;
	font-size: 90%;	
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box; 
	box-sizing: border-box;
}

.event-table a{
	text-decoration: none;
}

.event-table td b:first-child{
	text-align: left;
	font-size: 11px;
	line-height: 12px;
	display: block;
}

.event-table td.current-day b:first-child{
	font-size: 18px;	
}

.evt{
	min-height: 100px;
}

.evt-month{
	border-top-style: solid;
	border-top-width: 1px;	
	margin-top: 2em;
	padding-top: 1em;
}

.evt-month h3{
	margin-bottom: 15px;
	margin-top: 5px;
} 

.evt-month .btn-3 {
	margin-bottom: 0;
	margin-top: 0px;
}   
   






/* ==========================================================================
   14. Event Page Styles
   ========================================================================== */
   
.evt-single-date{
	border-top-style: solid;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	margin-bottom: 1.5em;
	padding-top: .75em;
	padding-bottom: .75em;		
}

.evt-single-date *{
	margin-top: 0;
	margin-bottom: 0;
}

.evt-price{
	
}

.body-wrapper ul.evt-paging{
	border-top-style: solid;
	border-top-width: 1px;
	padding-top: 1em;
	margin-top: 2em;
} 









/* ==========================================================================
   15. Timeline Styles
   ========================================================================== */

.timeline-container{
	width:100%;
	margin:0px auto;
	position: relative;
}

ul.timeline{
	width: 100%; 
	position: relative;
	list-style:none;
	padding: 0px;
	margin: 0px ;
}

ul.timeline > li{
	width:47%;
	position: relative;
	padding: 0;
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box; 
	box-sizing: border-box;
	margin-bottom: .5em;
}

ul.timeline > li:nth-child(even){
	float:right;
	clear:right;
}

ul.timeline > li:nth-child(odd){
	float:left;
	clear:left;
}








/* ==========================================================================
   16. Parallax Block
   ========================================================================== */
   
.paralax-block.outter-wrapper{
	padding-top: 4em;
	padding-bottom: 4em;
} 

.paralax-block.outter-wrapper blockquote{
	font-size: 32px;
	line-height: 1.25;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.paralax-block.outter-wrapper blockquote cite{
	display: block;
	font-size: 18px;
	margin-top: 2em;
}  









/* ==========================================================================
   17. Star Ratings
   ========================================================================== */


.star-rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  text-align: left;
  margin-top: .5em;
  margin-bottom: .5em;
  float: left;
}

.star-rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
  font-family: 'star';
  content: "\73";
  cursor: pointer;
}

.star-rating > span:hover,
.star-rating > span:hover ~ span {
  color: transparent;
}

.star-rating > span:hover:before,
.star-rating > span:hover ~ span:before {
   content: "\53";
   position: absolute;
   left: 0; 
}

.star-rating.example span:nth-child(n+3):before{
	content: "\53";
	left: 0;
	position: absolute;
}



/* Star Rating ALT */
.rating {
	padding: 0;
	margin-top: .5em;
	margin-bottom: .5em;
	float: left;
}

.rating:not(:checked) > input {
    position:absolute;
    top:-9999px;
    clip:rect(0,0,0,0);
}

.rating:not(:checked) > label {
    float:right;
    width:1em;
    padding:0 .1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    line-height:1.2;
    /* color:#ddd; Moved to skin.css */
}

.rating:not(:checked) > label:before {
    content: "\53";
    font-family: 'star';
}

.rating > input:checked ~ label {
   /* color: #ffba00; Moved to skin.css */
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    /* color: #ffba00; Moved to skin.css */
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    /* color: #ff6666; Moved to skin.css */
}

.rating > label:active {
    position:relative;
}
.rate-box{
	margin-bottom: 1em;
	margin-top: 1em;
}

.rate-box p{
	margin-bottom: 0;
	margin-top: 0;
}









/* ==========================================================================
   18. Pricing
   ========================================================================== */
.price{
	text-align: center;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-top: 1.5em;
	border-radius: 2px;
}

.price-detail{
	padding: 1.5em;
	padding-top: .5em;
}

.price h3{
	margin: 0;
	padding: 1em;
	font-size: 20px;
	-webkit-border-radius: 2px 2px 0 0;
	border-radius: 2px 2px 0 0;
}

.price h3 span{
	display: block;
	font-size: 48px;
	line-height: 48px;
	margin-bottom: 15px;
}

.price h3 span span{
	display: inline-block;
	font-size: 14px;
	margin: 0;
	line-height: 16px;
	padding-left: 5px;
	padding-right: 5px;
}

.price-detail li:before{
	display: none;
}

.price-detail ul li{
	border-top-style: solid;
	border-top-width: 1px;
	padding-top: .5em;
	padding-bottom: .5em;
	padding-left: 0!important;
}

.price-detail ul li:last-child{
	border-bottom-style: solid;
	border-bottom-width: 1px;
}

.price-feature{
	position: relative;
	top: -1em;
}



/* Price alt */
.price-table{
	display: table;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-top: 2em;
	margin-bottom: 2.5em;
	width: 100%;
	border-radius: 2px;
}

.price-row{
	display: table-row;
}

.price-table:hover, .price-table-feature{ }

.price-cell{
	display: table-cell;
	vertical-align: top;
	border-right-style: solid;
	border-right-width: 1px;
	text-align: center;
	padding: 8px 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	position: relative!important;
	-webkit-border-radius: 2px 0 0 2px;
	border-radius: 2px 0 0 2px;
}

.price-cell .inwrap{
	position: relative;
}

.price-cell:after{
	content: "";
	position: absolute;
	right: -10px;
	top: 50%;
	display: block;
	font: normal 20px "FontAwesome";
	margin-top: -10px;
}

.price-cell:first-child:after, .price-cell:last-child:after{
	display: none;
}

.price-cell:last-child{
	border: none;
	padding-right: 20px!important;
	vertical-align: middle;
	min-width: 150px;
	max-width: 150px;
}

.price-cell.last .btn{
	margin-bottom: 0;
}

.price-cell:first-child{
	min-width: 150px;
	max-width: 150px;
	border: none;
}

.price-cell:first-child p{
	font-size: 48px;
	line-height: 48px;
	margin-top: 25px;
	margin-bottom: 15px;	
}

.price-cell:first-child p span{
	display: block;
	font-size: 18px;
	line-height: 18px;
	margin-top: 5px;
}









/* ==========================================================================
   19. Team Page
   ========================================================================== */

.boxy ul.social-link{
	border-top-width: 1px;
	border-top-style: solid;
	padding-top: .5em;
	margin-top: .75em;
	margin-bottom: 0;
}

.boxy .inner-box{
	padding: .75em;
	padding-top: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.boxy ul.social-link li{
	display: inline-block;
	padding: 0 0 .3em;
}

.boxy ul.social-link li:last-child{
	padding-right: 0;
}

.boxy ul.social-link a{
	 opacity: 1;
	 text-decoration: none;
	 padding-right: 5px;
}

.boxy h4, .boxy h6{
	margin-bottom: 0;
}

.boxy .inner-box h5{
	margin-top: 0px;
	font-size: 16px;
}

.boxy .mosaic-block{
	margin-bottom: 0;
}

.teams .boxy{
	margin-bottom: 1.5em;
}

.boxy-pad{
	padding: .75em;
	padding-top: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-top: 1.5em;
	margin-bottom: 1em;
}

.boxy.author .social-links li{
	padding-left: 0px;
	padding-right: 5px;
}

.boxy.author img{
	margin-bottom: 0;
	margin-top: 5px;
}









/* ==========================================================================
   20. List Elements
   ========================================================================== */
   
.body-wrapper ul, .body-wrapper ol,
.footer-wrapper ul, .footer-wrapper ol{
	list-style-type: none;
	padding-left: 0px;
	margin-top: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

ul li, ol li,
.footer-wrapper ul li, .footer-wrapper ol li{
	padding-left: 13px;
}

.body-wrapper ul li:before, .body-wrapper ol li:before,
.footer-wrapper ul li:before, .footer-wrapper ol li:before{
	margin-left: -13px;
}

ul.widget-list.list-1 li,  ul.widget-list.list-2 li,  ul.widget-list.list-3 li,  ul.widget-list.list-4 li{
	padding-left: 13px; 	
}

ul.list-1 li:before, 
.footer-wrapper ul.list-1 li:before{
	content: "";
	padding-right: 3px;
	font-family: "FontAwesome"!important;
	font-style: normal;
	font-size: 11px;
	position: relative;
	top: -2px;
}

ul.list-2 li:before,
.footer-wrapper ul.list-2 li:before,
.reply:before{
	content: "";
	padding-right: 5px;
	font-family: "FontAwesome"!important;
	font-style: normal;
	font-size: 13px;
}

ul.list-3 li:before, 
.footer-wrapper ul.list-3 li:before{
	content: "";
	padding-right: 5px;
	font-family: "FontAwesome"!important;
	font-style: normal;
	font-size: 11px;
}

ul.list-4 li:before, 
.footer-wrapper ul.list-4 li:before{
	content: "";
	padding-right: 5px;
	font-family: "FontAwesome"!important;
	font-style: normal;
	font-size: 12px;
	position: relative;
	top: -2px;
}

ul.inline-list li{
	display: inline-block;
	padding-right: 2px;
	padding-left: 2px;
}

aside .widget-list{
	margin-bottom: 0;
}


.sidr .sidr-class-list-2 li a{
	display: inline-block;
}

.sidr .sidr-class-list-2 li:before{
	content: "";
	padding-right: 5px;
	font-family: "FontAwesome"!important;
	font-style: normal;
	font-size: 13px;
}







/* ==========================================================================
   21. Widget Lists
   ========================================================================== */
   
.thumb-list, .body-wrapper .thumb-list{
	margin: 0;
	padding: 0;
}

.thumb-list li{
	padding-left: 0!important;
	display: block;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	clear: left;
	padding-bottom: 1em;
	margin-bottom: 1em;
}

.thumb-list li a{
	text-decoration: none;
}

.thumb-list li:first-child{
	margin-top: .5em;	
}

.thumb-list li img{
	float: left;
	margin: 0;
	margin-right: .5em;
}

.thumb-list li h6{
	margin: 0;
}

.thumb-list li h3{
	margin: 0;
	line-height: 1.3;
}

.thumb-list li:before, .thumb-list li:after {
    content: " ";
    display: table;
}

.thumb-list li:after {
    clear: both;
}

.body-wrapper ul.wiget-comment-list{
	margin: 0;
	padding: 0;
}

.body-wrapper ul.wiget-comment-list li{
	padding-left: 0;
	display: block;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	clear: left;
	padding-bottom: .75em;
	margin-bottom: .75em;
	padding-left: 0px;
}

/*
.body-wrapper ul.wiget-comment-list li:before{
	content: '“ ';
	font-size: 24px;
	position: relative;
	top: 5px;
	line-height: 16px;
}*/

.body-wrapper ul.wiget-comment-list li h6{
	margin: 0;
	margin-top: .25em;
}

.thumb-list.archive{
	margin-bottom: 2em;
	border-top-style: solid;
	border-top-width: 1px;
	padding-top: .75em;
}

.thumb-list.archive a{
	text-decoration: none;
}

.related-posts{
	margin-bottom: 4em;
}

.related-posts .thumb-list.archive {
	margin-bottom: 0;
}

.related-posts .thumb-list.archive li:last-child{
	margin-bottom: 0;
}

ul.widget-list li{
	border-bottom-style: solid;
    border-bottom-width: 1px;
    margin-bottom: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 0;
}

ul.widget-list li:last-child{
	border: none;
}










/* ==========================================================================
   22. Countdown Styles
   ========================================================================== */
.countdown {
	display: inline-block;
}

.countdown > div{
	display: inline-block;
	margin-right: 5px;
	margin-left: 5px;
}

.countdown > div:last-child{
	margin-right: 0;
}

.cd-years{

}

.cd-days{
	
}

.cd-hours{
	
}

.cd-mins{
	
}

.cd-secs{
	
}

.pre-header-area .cd-years, .big-count .cd-years{
	display: none;
}

.big-count{
	font-size: 48px;
}

.big-count div{
	text-align: center;
	margin-top: 0;
	margin-bottom: 0;
}

.big-count div span{
	font-size: 22px;
	margin-right: 10px;
	margin-left: -5px;
	margin-top: 0;
	margin-bottom: 0;
}

.message.promo .big-count, .promo .big-count div, .promo .big-count div span{
	margin-top: 0;
	margin-bottom: 0;
}










/* ==========================================================================
   23. Events Widget List
   ========================================================================== */
ul.widget-event-list{
	margin-bottom: 0;
}   

ul.widget-event-list li{
	border-bottom-style: solid;
	border-bottom-width: 1px;
	padding-left: 0;
	padding-bottom: 1.25em;
	margin-bottom: 1.5em;
}

ul.widget-event-list li:after{
	display: table;
	content: "";
	clear: both;	
}

ul.widget-event-list li:last-child{
	border: none;
}

ul.widget-event-list li .title{
	margin-top: 0;
	margin-bottom: 0;
	line-height: 22px;
}

ul.widget-event-list li p{
	margin-top: 0;
	margin-bottom: 0;
}

ul.widget-event-list li img{
	margin-bottom: 0;
	max-width: 80px;
}










/* ==========================================================================
   24. Open Hours
   ========================================================================== */
.open-hours span{
	float: right;
}

.open-hours li:before, .open-hours li:after { content: " "; display: table; }
.open-hours li:after { clear: both; }

ul.open-hours li:before{
	display: none;
}

ul.open-hours{ }

ul.open-hours li{
	padding: .5em .3em;
}

ul.open-hours li:first-child{
	padding-top: 0;	
}

ul.open-hours li:nth-child(2n+2){
	background: rgba(255, 255, 255, .1);
}









/* ==========================================================================
   25. Social Block Styles
   ========================================================================== */
.social-block{ } 

ul.social-thumbs{
	overflow: hidden;
	height: 180px;
	margin: 1.5em 0;
	padding: 0;
}

.social-thumbs li:before{
	display: none;
}

.social-thumbs li{
	display:  inline-block;
	padding: .3em;
	opacity: 1;
	-webkit-transition: all 150ms ease-in-out;
	-moz-transition: all 150ms ease-in-out;
	-ms-transition: all 150ms ease-in-out;
	-o-transition: all 150ms ease-in-out;
	transition: all 150ms ease-in-out;
	max-width: 80px;
}

.social-thumbs li img{
	border-radius: 50%;
}

.share-this-btns{
	padding-top: 1.5em;
	padding-bottom: 2em;
}








/* ==========================================================================
   26. Breadcrumbs
   ========================================================================== */
   
.breadcrumb-wrapper{
	font-size: 11px;
}

.breadcrumb-wrapper a{
	text-decoration: none;
}

.breadcrumb-wrapper a:first-child{
	margin-right: .5em;
	font-size: 14px;
}

.breadcrumb-wrapper a:after{
	content: "/";
	padding-right: .5em;
	padding-left: .5em;
}

.breadcrumb-wrapper a:first-child:after, .breadcrumb-wrapper a:last-child:after{
	display: none;
}










/* ==========================================================================
  27. Paging and Comments
   ========================================================================== */ 
   
ul.pagination{
	text-align: center;
}

ul.pagination a{
	text-decoration: none;
}

ul.pagination li:before{
	display: none;
}

ul.pagination li{
	padding-left: 0;
	display: inline;
	font-size: 14px;
	padding: .4em;
	cursor: pointer;
}

ul.pagination li:first-child, ul.pagination li:last-child{
	padding-left: 0;
	padding-right: 0;
}

ul.pagination li a.active{
	/* see theme colours */
	text-decoration: underline;
}

ul.pagination .left a, ul.pagination .right a, ul.paging a span{
}

ul.pagination .right a, ul.paging .right span{
	padding-right: .4em;
	padding-left: .6em;
}

.paging{
	border-top-style: solid;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	margin-bottom: 3em;
} 

.paging .col-1-2{
	padding-top: 1.5em;
	padding-bottom: 1.5em;
	margin-top: 5px;
	margin-bottom: 5px;	
}

.paging .col-1-2 h4{
	margin: 0;
}

.paging .col-1-2 a{
	text-decoration: none;
}

.paging .col-1-2.prev{
	border-right-style: solid;
	border-right-width: 1px;
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box; 
	box-sizing: border-box;
	padding-left: 1.5em;
	position: relative;
	padding-right: 1em;
}

.paging .col-1-2.next{
	text-align: right;
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box; 
	box-sizing: border-box;
	padding-right: 1.5em;
	position: relative;
	padding-left: 1em;
}

.paging .col-1-2.prev:before{
	content: "";
	position: absolute;
	left: 0;
	font-size: 24px;
	top: 45px;	
}

.paging .col-1-2.next:after{
	content: "";
	position: absolute;
	right: 0;
	top: 45px;	
	font-size: 24px;	
}






/* ============= Comments ===============*/
ul.comments{
	margin-bottom: 2em;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	padding-bottom: 3em;
}

ul.comments li{
	padding: 0em;
}

ul.comments li div{
	padding: 1em 2%;
}

ul.comments li li div{
	padding-left: 4%;
}

ul.comments li li li div{
	padding-left: 6%;
}

ul.comments li li li li div{
	padding-left: 8%;
}

ul.comments li > ul{
	margin: 0;
}

ul.comments .odd{ } 

ul.comments li:before{
	display: none;
}

ul.comments h5, ul.comments h6{
	display: inline;
}

ul.comments h6 span:before{
	content: "-";
	display: inline-block;
	padding: 0 .3em;
}

ul.comments li p{
	margin-top: .5em;
	margin-bottom: .5em;
}

ul.comments li img{
	margin-top: 5px;
	margin-bottom: 5px;
}










/* ==========================================================================
   28. Sitemap
   ========================================================================== */    

ul.sitemap{
	display: table;
	width: 100%;
}

ul.sitemap > li{
	display: table-cell;
	padding-left: 0;
	padding: 1px;
}

ul.sitemap > li > a{
	background: #f5f5f5;
}

ul.sitemap > li:before{
	display: none;
}

ul.sitemap a{
	display: block;
	padding: 1em;
	text-decoration: none;
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box; 
	box-sizing: border-box;
	text-decoration: none;
}

ul.sitemap li ul{
	margin: 0em;
}

ul.sitemap li li{
	padding-bottom: 0em;
	line-height: 2;
}

ul.sitemap li ul li a{
	padding: .2em;
}


   
   
   
   
   
   
   
   
   
/* ==========================================================================
   29. Footer
   ========================================================================== */   
.footer-wrapper{
	padding-bottom: 1em;
	line-height: 1.3;
}

.footer-wrapper a{
	text-decoration: none;
}

.footer-wrapper .logo{
	width: 151px;
	display: inline-block;
	margin-top: 1.1em;
	margin-bottom: 1.6em;
}
.footer-wrapper ul.list-1 li{
	border-bottom-style: solid;
	border-bottom-width: 1px;
	padding-bottom: .5em;
	margin-bottom: .5em;
}

.footer-wrapper ul.list-1 li:last-child{
	border: none;
}

#scrollUp {
  bottom: 20px;
  right: 20px;
  padding: 10px 15px;
  background: #111;
  background-color: rgba(0, 0, 0, .7);
  color: #fff;
  border-radius: 3px;
  font-size: 16px;
  text-decoration: none;
  font-family: "FontAwesome";
}









/* ==========================================================================
   30. Baseline
   ========================================================================== */ 

.base-wrapper{
	font-size: 14px;
}








/* ==========================================================================
   31. Header Social links
   ========================================================================== */
   
.outter-wrapper .wrapper ul.social-links li{
	margin-right: 0;
	padding-right: 2px;
}

.social-links{
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.social-links li{
	display: inline-block;
	padding-right: 2px;
}

.social-links li:last-child{
	padding-right: 0;
}

.social-links li a{
	text-decoration: none;
}

.social-links li a{
	font-size: 14px;
	min-width: 20px;
	line-height: 20px;
	text-align: center;
}   
   







/* ==========================================================================
   32. Tag Cloud
   ========================================================================== */
   
ul.tag-cloud{
	list-style-type: none;
	margin: 0;
	padding: 0!important;
}

.wrapper .tag-cloud li{
	display: inline;
	line-height: 200%;
	padding-left: 0;	
}

.tag-cloud li:before{
	display: none;
	content: "";
}

.tag-cloud a{
	text-decoration: none;
	border-right-style: solid;
	border-right-width: 1px;
	padding-right: .5em;
	margin-right: .5em;
}

.body-wrapper .post-tag-cloud{
	list-style-type: none;
	margin: 0 0 1em;
	padding: 2em 0 1em;
	border-top-style: solid;
	border-top-width: 1px;
}

.body-wrapper .post-tag-cloud li{
	display: inline-block;
	line-height: 200%;
	padding-bottom: 1px;
	padding-left: 1px;
}

.body-wrapper .post-tag-cloud li a{
	text-decoration: none;
	padding: .3em .5em;
}
   
      
   






/* ==========================================================================
   33. Tabs
   ========================================================================== */
   
.tab-container{
	margin-top: 2em;
	margin-bottom: 2em;	
}   

ul.tab-nav {
	position: relative;
	width:100%;
	margin: 0 auto;
	padding-left: 0!important;
	border-bottom-style: solid;
	border-bottom-width: 1px;
}

.body-wrapper ul.tab-nav li {
	float:none;
	position:relative;
	display:inline-block;
	text-align:center;
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box; 
	box-sizing: border-box;
	margin-right: 0px;
	margin-bottom: 0px;
	-webkit-transition: all 150ms ease-in-out;
	-moz-transition: all 150ms ease-in-out;
	-ms-transition: all 150ms ease-in-out;
	-o-transition: all 150ms ease-in-out;
	transition: all 150ms ease-in-out;
	-webkit-border-radius: 2px 2px 0 0;
	border-radius: 2px 2px 0 0;
	padding: 4px .5em;
	font-size: 100%;
	border-style: solid;
	border-width: 1px;
	border-bottom: none;
	top: 1px;
	-webkit-box-shadow:inset 0 -1px 0 0 #eaeaea;
	box-shadow:inset 0 -1px 0 0 #eaeaea;
}

.tab-nav li:hover {
	text-decoration:none;
	cursor:pointer;
}

.body-wrapper ul.tab-nav li.active{
	-webkit-box-shadow:none;
	box-shadow:none; 
}

.tab-nav li:last-child{
	margin-right: 0;
} 

.tab-nav li.active {
	z-index:50;
}

.tab-contents {
	clear:both;
	position:relative;
	width: 100%;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	top: -2px;
}

.widget .tab-container{
	margin-bottom: 0;
	margin-top: 0;
}

.widget .tab-contents {
	border: none;
}

.tab_content {
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box; 
	box-sizing: border-box;
	padding: 1em .5em .5em;
}

.widget .tab_content{
	background: transparent;
	padding: 1em 0 0;
}
.tab_content > p{
	margin-top: 0;
}

h3.v_nav {display: none;}









/* ==========================================================================
   34. Ratings + Reviews + Titles
   ========================================================================== */

.rate-container, .rate-container.rate-video{
	position: relative;
}

ul.thumb-list .rate-container{
	float: left;
}

ul.thumb-list .rate-container .rate-tab{
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 999;
}

.rate-container:before, .rate-container:after {
    content: " ";
    display: table;
}

.rate-container:after {
    clear: both;
}

.rate-container img{
	float: none!important;
}

.feat-title-container{
	position: absolute;
	left: 0;
	bottom: 0;
	display: table;
	z-index: 998;
}

.feat-title{
	margin: 0;
	display: table-cell;
	vertical-align: middle;
	padding: .75em 1em .75em .75em;
}

.feat-title *{
	margin: 0;
	line-height: 120%;
}

fieldset.rating{
	border: none;
}

.rate-tab{
	line-height: 16px;
	text-align: center;
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box; 
	box-sizing: border-box;
	display: table-cell;
	vertical-align: middle;
	padding: .4em;
}

.rate-container.rate-video .rate-tab{
	top: 0em;
	bottom: inherit;
}

.rate-tab i{
	display: block;
	font-size: 9px;
	font-style: normal;
}   

.rate-big{
	padding: .5em 1em;
}

.rate-small{
	padding: .2em .3em .4em;
}

.rate-tab.rate-big strong{
	font-size: 20px;
	line-height: 20px;
}

.rate-tab.rate-small strong{
	font-size: 11px;
	line-height: 11px;
}

.comment-num{
	position: absolute;
	top: 2em;
	left: 0;
	display: block;
	font-size: 10px;
	font-style: normal;
	padding: .2em .75em .2em .4em;
	z-index: 999;
	line-height: 1.4;
}

.rate-container.rate-video .comment-num{
	top: 3em;	
}

.comment-num:before{
	border:4px solid;
	content:"";
	display: block;
	position: absolute;
	border-color:#454e54 #454e54 transparent transparent;
	left:-8px;
	top:18px;
}










/* ==========================================================================
   35. Toggles
   ========================================================================== */
   
.toggle-btn { 
	text-decoration:none; 
	display:block;
	font-size: 17px;
	outline: none;
}

.toggle-btn span{
	float: right;
}

.toggle-content{ 
	display:none;
}

.toggle-content.active{
	display: block;
}

ul.toggle > li {
	position:relative;
	overflow:hidden;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	padding: .75em 0;
}

ul.toggle li:before{
	top: 13px;
}

ul.toggle{
	margin-bottom: 1.5em;
}

/* =======  ACCORDION =========== */

.accordion-btn { 
	text-decoration:none; 
	display:block;
	outline: none;
}

.accordion-content{ 
	display:none;
}

.accordion-content.active{
	display: block;
}

ul.accordion > li {
	position:relative;
	overflow:hidden;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	padding: .75em 0;
}

ul.accordion li:before{
	top: 15px;
}

ul.accordion{
	margin-bottom: 1.5em;
}











/* ==========================================================================
   36. Forms + Buttons
   ========================================================================== */
   
form{
	margin-top: 1.5em;
	margin-bottom: 2em;
}

.widget form{
	margin-top: 0;
	margin-bottom: 0;
}

.widget form input{
	margin-bottom: 5px;
}

fieldset, fieldset.boxy{
	padding: 1em;
	border-style: solid;
	border-width: 1px;
	margin-top: 1em;
	background: none;
}

label{
	padding-right: 1em;
}

input[type=text],  input[type=email], input[type=password], textarea, input[type=tel],  input[type=range], input[type=url],
input[type=number]{
 	border: none;
 	border-radius: 2px;
	padding: .75em 1em;
	border-style: solid;
	border-width: 1px;
	display: inline-block;
	outline: none;
	margin-bottom: 1em;
	resize: none;
	display: block;
	width: 100%;
	-webkit-appearance: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
 
textarea{
	width: 100%;
	height: 140px;
	display: block;
	resize: none;
	outline: none;
}

select, input[type=radio], input[type=checkbox] {
	margin-bottom: 1em;
	margin-right: 6px;
}

.error[generated=true] {
	font-size: 14px;
	color: #f1042b;
}

.btn, .btn-2, .btn-3, input[type=button], input[type=submit], button, .option-set li a{
	border: none;
	padding: .5em 1.5em;
	white-space: normal;
	text-align: center;
	display: inline-block;
	-webkit-transition: all 250ms ease-in-out;
	-moz-transition: all 250ms ease-in-out;
	-ms-transition: all 250ms ease-in-out;
	-o-transition: all 250ms ease-in-out;
	transition: all 250ms ease-in-out;
	margin-bottom: .5em;
	margin-top: .5em;
	text-decoration: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-radius: 2px;
	background: url('../img/btn-bg.png') repeat-x 0 0;
}

a.small-btn, input[type=button].small-btn, input[type=submit].small-btn, .widget input[type=submit], ul.toggle li a.small-btn{
	font-size: 14px;
	padding: .4em 1.2em;
}

a.xsmall-btn, input[type=button].xsmall-btn, input[type=submit].xsmall-btn, .pb_gallery .main .isotope_filter_menu li a, ul.toggle li a.xsmall-btn{
	font-size: 12px;
	padding: .3em .5em;
}

a.btn [class^="icon-"],
a.btn [class*=" icon-"],
a.btn-2 [class^="icon-"],
a.btn-2 [class*=" icon-"],
a.btn-3 [class^="icon-"],
a.btn-3 [class*=" icon-"]{
	padding-right: 5px;
	padding-left: 5px;
}

.body-wrapper .search-404{
	margin-bottom: 5em;
	-webkit-appearance: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-right: 140px;
	position: relative;
}

.body-wrapper .search-404 input{
	margin: 0;
}

.body-wrapper .search-404 .btn{
	position: absolute;
	right: 1em;
	top: 1em;
	margin: 0;
}

#recaptcha_image br{
	display: none;
}

#recaptcha_audio_download{
	display: inline-block;
	text-decoration: none;	
}

ul.recap-tools li{
	display: inline-block;
}

#recaptcha_response_field{
	margin-top: .5em;
	max-width: 300px;
}

.recaptcha_only_if_audio{
	display: inline-block;
	text-decoration: none;
}

#recaptcha_audio_play_again:before, #recaptcha_audio_download:before{
	content: "";
	font-size: 12px;
	padding-right: 3px;
	padding-left: 5px;
	position: relative;
	top: -1px;
	font-family: "FontAwesome";
}










/* ==========================================================================
   37. Message Boxes
   ========================================================================== */
   
.message, div.wpcf7-validation-errors, .woocommerce-message, .woocommerce-error, .woocommerce-info, .col2-set.addresses .address, .validation_error{
	border-width: 1px;
	border-style: solid;
	display: block;
	padding: .5em 1em;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	margin-bottom: 1em;
}


.message.success{
	border-color: #a2e29d;
	background: #e2f5e4;
	color: #219917;
}

.message.info, .woocommerce-info{
	border-color: #7bb8e2;
	background: #d2e4f1;
	color: #2386c9;
}

.message.error, .woocommerce-error, .validation_error{
	border-color: #fc604a;
	background: #ffd4ce;
	color: #d62911;
}

.message.notice, div.wpcf7-validation-errors{
	border-color: #fcc84a;
	background: #fffcce;
	color: #d89b06;
}

.message.promo{
	padding: 1em 2em;
	border: none;
	text-align: center;
	margin-bottom: 0;
}

.message.promo *{
	margin-top: .5em;
	margin-bottom: .5em;
}

span.wpcf7-not-valid-tip{
	background: none;
	border: none;
	position: relative;
	left: 0;
	top: -10px;
}

div.wpcf7-validation-errors{
	font-size: 13px;
	line-height: 18px;
}

.message .fa{
	padding-right: .5em;	
}








/* ==========================================================================
   38. Galleries
   ========================================================================== */
   
.gallery-section{
	border-bottom-style: solid;
	border-bottom-width: 1px;	
	margin-bottom: 3em;
	padding-bottom: 2em;
}










/* ==========================================================================
   39. Columns
   ========================================================================== */
   
.full, .col-1-1, input.col-1-1{
	width: 100%;
	float: none;
} 

.half, .col-1-2, input.col-1-2{
	width: 48%;
	margin-right: 4%;
	float: left;
}

.third, .col-1-3, input.col-1-3{
	width: 30%;
	margin-right: 5%;
	float: left;
}

.fourth, .col-1-4{
	width: 22%;
	margin-right: 4%;
	float: left;
}

.fifth, .col-1-5{
	width: 18%;
	margin-right: 2.5%;
	float: left;
}

.two-thirds, .col-2-3{
	width: 65%;
	margin-right: 5%;
	float: left;
}

.three-fourths, .col-3-4{
	width: 74%;
	margin-right: 4%;
	float: left;
}

.two-fifths, .col-2-5{
	width: 39%;
	margin-right: 2%;
	float: left;
}

.three-fifths, .col-3-5{
	width: 59%;
	margin-right: 2.5%;
	float: left;
}

.four-fifths, .col-4-5{
	width: 78%;
	margin-right: 4%;
	float: left;
}

/* Isotope Gallery Columns */

.isotope-item.col-1-1{
	width: 100%;
	float: none;
} 

.isotope-item.col-1-2{
	width: 49.9%;
	margin-right: 0%;
}

.isotope-item.col-1-3{
	width: 33.3%;
	margin-right: 0%;
}

.isotope-item.col-1-4{
	width: 24.9%;
	margin-right: 0%;
}

.isotope-item.col-1-5{
	width: 20%;
	margin-right: 0%;
}

.isotope-item.col-2-3{
	width: 66.6%;
	margin-right: 0%;
}

.isotope-item.col-3-4{
	width: 74.9%;
	margin-right: 0%;
}

.isotope-item.col-2-5{
	width: 39.9%;
	margin-right: 0%;
}

.isotope-item.col-3-5{
	width: 59.9%;
	margin-right: 0%;
}

.isotope-item.col-4-5{
	width: 79.9%;
	margin-right: 0%;
}








/* ==========================================================================
   40. Isotope styles
   ========================================================================== */
   
.isotope-item {
  z-index: 2;
  padding: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.isotope-item .mosaic-block{
	margin-bottom: 0;	
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:         top, left, opacity;
          transition-property:         transform, opacity;
}


.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

.isotope.infinite-scrolling {
  -webkit-transition: none;
     -moz-transition: none;
      -ms-transition: none;
       -o-transition: none;
          transition: none;
}

.option-set{
	margin-top: 25px;
	margin-bottom: 15px;
	padding-left: 0;
}

.option-set li{
	display: inline-block;
	list-style-type: none;
	padding-left: 0;
}

.option-set li a{
	font-size: 12px;
	padding: .3em .5em;
}

.widget-list.option-set li{
	display: block;
}

.widget-list.option-set li a{
	background: none!important;
	padding: 0;
	margin-top: 0;
	margin-bottom: 0;
	font-size: 16px;
}








/* ==========================================================================
   41. Author's custom styles
   ========================================================================== */


.column-example div{
	min-height: 1em;
	background: #efefef;
	margin-bottom: 1em;
	-webkit-transition: all 250ms ease-in-out;
	-moz-transition: all 250ms ease-in-out;
	-ms-transition: all 250ms ease-in-out;
	-o-transition: all 250ms ease-in-out;
	transition: all 250ms ease-in-out;
	text-align: center;
}

.column-example div:hover{
	background: #ffba00;
}

.icon-thirds li{
	padding-left: 0!important;
	display: inline-block;
	width: 33%;
	font-size: 14px;
	line-height: 32px;
}

.icon-thirds li a{
	text-decoration: none;
}

.icon-thirds li:before{
	display: none;
}

.icon-thirds li:hover i:before{
	-moz-transform: scale(2) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	-webkit-transform: scale(2) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	-o-transform: scale(2) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	-ms-transform: scale(2) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	transform: scale(2) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
}

.icon-thirds li i:before{
	padding-right: 10px;
	font-size: 18px;
	min-width: 18px;
	text-align: center;
	display: inline-block;
	font-family: "FontAwesome";
}







/* ==========================================================================
   42. Facebook Widget
   ========================================================================== */
   
#fb-root {
	display: none;
}

.fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget span iframe[style] {
	width: 100%!important;
}

.fb_iframe_widget span{
	min-height: 250px;
}











/* ==========================================================================
   43. Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

.last, input.last{
	padding-right: 0;
	margin-right: 0;	
}

.first, input.first{
	padding-left: 0;
	margin-left: 0;
}

.centered{ 
	text-align: center!important; 
}

.tableless, .tableless th, .tableless tr, .tableless td{
	background: none!important;
	border: none!important;
	padding: 0px!important;
}

.tableless{
	width: 100%;
}

#recaptcha_table.recaptchatable{
	border: none!important;	
}

.left{
	float: left;
	display: inherit;
}

.right{
	float: right;
	display: inherit;
}

img.left, .pad-right{
	margin-right: 1em;
	margin-bottom: 1em;	
}

img.right, .pad-left{
	margin-left: 1em;
	margin-bottom: 1em;	
}

.hide {
	position: absolute;
	top: -9999px;
	left: -9999px;
}

.mobile-show{
	display: none;
}

#page-sticky{
	width: 100%;
	z-index: 1001;
}

.sticky-wrapper{
	height: auto!important;
}

.nofloat{
	float: none!important;
	display: inline-block;
}










/* ==========================================================================
   44. Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
        content: "";
    }

    pre, blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr, img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p, h2, h3 {
        orphans: 3;
        widows: 3;
    }

    h2, h3 {
        page-break-after: avoid;
    }
}













/* ADD INS */
.tp-banner-container ul, .tp-banner-container ul li{
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.rev_slider_wrapper {
    left: 0!important;
}





/* ==========================================================================
 	45. WP Specific
   ========================================================================== */

.wp-caption {
	margin: 0;
	border: none;
	max-width: 100%;
}

.wp-caption-text {
	margin-top: 0;
	border-style: solid;
	border-width: 1px;
	border-top: none;
	display: block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 90%;
	padding: .2em .5em;
	margin-bottom: .5em;
}

.mosaic-block .wp-caption-text{
	margin-bottom: 0;
}

.sticky:before {
	/*content: ""; - paperclip icon */
	/*content: ""; -  heart icon */
	content: ""; /* - star icon */
	display: inline-block;
	font-family: 'FontAwesome';
	font-size: 25px;
	position: absolute;
	right: 10px;
	top: 3px;
	z-index: 2;
	color: #fff;
}

.sticky{
	position: relative;
}

.gallery img{
	border: none!important;
}

.gallery-caption {
	position: relative;
}

.bypostauthor {
	position: relative;
}

.alignright {float:right; }
.alignleft {float:left; }
.aligncenter {display: block; margin-left: auto; margin-right: auto}
img.alignright {float:right; margin:0 0 1em 1em}
img.alignleft {float:left; margin:0 1em 1em 0}
img.aligncenter {display: block; margin-left: auto; margin-right: auto}

.size-auto, 
.size-full,
.size-large,
.size-medium,
.size-thumbnail,
.size-auto img, 
.size-full img,
.size-large img,
.size-medium img,
.size-thumbnail img {
	max-width: 100%;
	height: auto;
}


